/* Reset CSS untuk menghilangkan margin dan padding default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling dasar untuk body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Kontainer utama */
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Judul halaman */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Judul seksi */
h4 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* Formulir data */
.form-data{
    display: none;
}

#data-form {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-column {
    flex: 1;
    padding: 10px;
    margin: 5px;
}


/* Form row */
.form-row {
    margin-bottom: 10px;
    grid-column: span 2; /* Menggunakan 2 kolom dalam grid */
}

/* Label */
label {
    display: block;
    margin-bottom: 5px;
}

/* Input dan Select */
input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Tombol Simpan */
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* Tabel data */
#data-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#data-table th,
#data-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

#data-table td {
    padding: 4px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Container kolom footer */
.foter-column {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* Baris dalam kolom footer */
.foter-row {
    display: flex;
    flex-direction: column;
}

/* Input Tanggal */
.foter-row input[type="date"] {
    width: 150px; /* Lebar input tanggal */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Input Text */
.foter-row input[type="text"] {
    width: 150px; /* Lebar input teks */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* CSS untuk membuat tombol di tengah tabel */
div.div-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styling tambahan untuk tombol */
.delete-btn{
    background-color: red; /* Ganti warna latar belakang sesuai kebutuhan Anda */
    color: white; /* Ganti warna teks sesuai kebutuhan Anda */
    border: none;
    margin: 4px;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn{
    background-color:greenyellow; /* Ganti warna latar belakang sesuai kebutuhan Anda */
    color: white; /* Ganti warna teks sesuai kebutuhan Anda */
    border: none;
    margin: 4px;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
#update{
    display: none;
}


/* Membuat tabel responsif pada perangkat kecil */
@media (max-width: 768px) {
    #data-table {
        overflow-x: auto;
    }
}

/* Mengurangi tinggi form */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    #data-form {
        grid-template-columns: 1fr; /* Kembali ke satu kolom pada perangkat kecil */
    }
}
